---
import Layout from '../layouts/Layout.astro';
import Start from '../sections/Start.section.astro';
---

<Layout title="Simon &quot;gamersi&quot;: Developer">
	<main>
		<!-- <h1 class="text-gradient wip">Work in Progress</h1> -->
		<Start />
	</main>
</Layout>

<style>
	/* .wip {
		padding-top: 70px;
	} */
	main {
		margin: auto;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>