---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Work In Progress">
    <main>
        <h1>This page is a work in progress</h1>
        <p>Check back later for more information</p>
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        padding: 0 1rem;
        color: #fff;
        text-align: center;
    }
</style>