---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<nav
    class="top-0 left-0 w-full shadow-md z-50 p-4 flex justify-between items-center bg-gray-800"
>
    <h1 class="text-2xl font-bold">
        <a class="hover:text-gray-400" href="/">{title}</a>
    </h1>
    <ul class="flex space-x-4">
        <li><a class="hover:text-gray-400" href="/">Start</a></li>
        <li><a class="hover:text-gray-400" href="/blog">Blog</a></li>
    </ul>
</nav>
