---
interface Props {
    content: string;
    other?: string[];
}

const { content, other } = Astro.props;
---

<span class="typewriter font-mono border-r- border-r-white"></span>

<style>
    .typewriter {
        text-shadow: 0 0 10px #fff;
        animation: blink 1.5s steps(1) infinite;
    }

    @keyframes blink {
        0% {
            border-color: transparent;
        }

        50% {
            border-color: white;
        }

        100% {
            border-color: transparent;
        }
    }
</style>

<script is:inline define:vars={{ content, other }}>
    const typewriter = (text = '', i = 0) => {
        if (i < text.length) {
            document.querySelector('.typewriter').textContent += text[i++];
            setTimeout(() => typewriter(text, i), 100);
        } else if (other.length) {
            setTimeout(() => {
                document.querySelector('.typewriter').textContent = '';
                typewriter(other.shift());
            }, 5000);
        }
    };
    typewriter(content);
</script>
