---
import Layout from '../../layouts/Layout.astro';

const title = 'PassmanTRS';
---

<Layout title={title}>
    <article class="p-4">
        <h1 class="text-3xl font-bold">{title}</h1>
        <section class="mt-4">
            <h2 class="text-2xl font-bold">About</h2>
            <p class="text-lg">
                PassmanTRS is a password manager that is designed to be simple
                and easy to use. It is built with Rust and Svelte.
            </p>
            <a
                href="https://github.com/gamersi/PassmanTRS"
                class="text-blue-500">GitHub</a
            >
        </section>

        <section class="mt-4">
            <h2 class="text-2xl font-bold">Features</h2>
            <ul class="list-disc list-inside">
                <li>Simple and easy to use</li>
                <li>Secure</li>
                <li>Fast</li>
                <li>Cross-platform</li>
                <li>Basic password Features</li>
                <li>Password Generator</li>
                <li>Free and Open Source</li>
            </ul>
        </section>

        <section class="mt-4">
            <h2 class="text-2xl font-bold">Technologies Used</h2>
            <ul class="list-disc list-inside">
                <li>Rust</li>
                <li>Svelte</li>
                <li>Tauri</li>
                <li>PBKDF2</li>
                <li>bcrypt</li>
                <li>AES-256-GCM</li>
            </ul>
        </section>
    </article>
</Layout>
