---
import Typewriter from '../components/Typewriter.astro';
import Projects from '../components/Projects.astro';
import TextGradient from 'src/components/TextGradient.astro';
---

<section id="start" class="flex flex-col items-center justify-start h-full">
    <h1 class="text-5xl font-bold">
        <Typewriter
            content="Hey, my name is Simon."
            other={[
                "I'm Simon.",
                "Hi, I'm Simon.",
                "Hello, I'm Simon.",
                'Guten Tag, ich bin Simon.',
                'Hey, my name is Simon.',
            ]}
        />
    </h1>
    <h2 class="text-2xl mt-4">
        I'm a <TextGradient>developer</TextGradient> from <TextGradient
            >Villach, Austria</TextGradient
        > who loves to create <TextGradient>beautiful</TextGradient> and <TextGradient
            >functional</TextGradient
        > things.
    </h2>
    <section class="flex flex-col items-center justify-center mt-8">
        <h1 class="text-3xl font-bold">Projects</h1>
        <Projects />
    </section>
</section>
